%table#contact_table.table.table-striped
  %tr
    %th
    %th First name
    %th Last name
    %th Phone
    %th
    %th
    %th

  - @contacts.each do |contact|
    =render("contact", :contact=>contact)
%br
